.modal{
    width: 40%;
    max-height: 90%;
  }

.modal .slider {
    max-height: 400px;
}

.modal .slider ul {
    max-height: 400px;
}


.modal .slider ul li {
    max-height: 400px;
}

.caption {
    margin-top: 250px;
}

.caption a {
    animation: bounce 1.5s infinite;
}


.container h3{
    font-size:large; 
    font-weight: bold; 
}



@media screen and (max-width:900px) {
    .modal{
        width: 80%;
    }
    
}

@media screen and (max-width:600px) {
    #stands {
        margin-left: 10%;
    }
    
}

@media screen and (max-width:1000px) {
    .navmenu{
        display: block;
    }
    
}

    
